/* Font family -Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family- miama */
@import url('https://fonts.cdnfonts.com/css/miama');

                


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgb(34, 34, 34) 100%);
}

/* shared styles */

.btn-primary{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-weight: 600;
}
.text-small{
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
}

/* navbar styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 180px;
    padding-top: 20px;
}

.nav-title , .footer-title{
    color: rgb(230, 83, 60);
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
}



.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;


}
.nav-menu li{
    list-style: none;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: .8rem;
}

.navbar i{
    display: none;
}

/* Banner section designs */

.banner{
    display: flex;
    margin: auto 180px;
    justify-content: space-between;
    align-items: center;
}


.banner-description h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 20px;
}

.miama{
    font-family: 'Miama', sans-serif;  
    font-size: 4rem;
    font-weight: 900;
    text-align: left; 

}

.banner-description p{
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}

.btn-secondary{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    background: rgba(0, 0, 0, 0.826);
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-weight: 600;

}
.banner-image{
    position: relative;
}

.banner-image img{
    width: 80%;
    
}

.video , .free {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 15px 25px;
    text-align: left;
}

.jambo{
    color: rgb(250, 250, 249);
    font-size: 1.2rem;
    font-weight: 900;
}

.video{
    position: absolute;
    top: 320px;
    left: -40px;
}
.free{
   position: absolute;
   top: 100px;
   left: 180px;
}


/* main section */

main{
    background-color: rgba(0, 0, 0, 0.921);
}
/* change your habit section */
.change-your-habit{
    margin: auto 180px;
}

.change-ur-habit-description{
    text-align: center;
}

.change-ur-habit-description h1{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    padding-top: 20px;
}
.change-ur-habit-description p{
    
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

.habit-card{
    max-width: 225px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.habit-card img{
    border-radius: 100%;
    width: 100%;
}

.habit-container h3{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    margin: 10px auto;
}

.habit-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: 10px auto;
}

.change-ur-habit-pic{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 20px;
    margin-top: 50px;
}


/* An extra mile section */

.an-extra-mile{
    margin: auto 180px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 100px;
}

.an-extra-mile-description h1{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 10px;
}

.an-extra-mile-description p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 20px;
}

.extra-mile-btn button{
    padding: 16px 40px 16px 40px;
}


.an-extra-mile-pic img{
    width: 390px;
    height: 300px;
    border-radius: 18px;
}

/* Meet our team section */
.meet-our-team{
    margin: auto 180px;
    padding-bottom: 50px;
}

.meet-our-team-description h2{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.meet-our-team-description p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 40px;
}

.meet-our-team-container{
    margin: auto 180px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    justify-content: center;
}

.our-team-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bold{
    color: white;
    font-weight: 600;
    font-size: .8rem;
}
.trainer{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    position: absolute;
    top: 150px;
    right: 120px;

}
.our-team-img img{
    width: 235px;
    height: 182px;
    border-radius: 18px;
}

/* footer section */

.footer{
    background-color:  rgba(26, 26, 26, 0.949);
}
.footer-section{
    margin: auto 180px;
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.footer-title{
    font-size: 4.5rem;
}

.footer-bold{
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}

.footer-list-1 > li , .footer-list-2 > li {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
} 


.copyright{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}
hr{
    margin: 10px 180px;
}

/* Responsive designs */

@media screen and (max-width:576px) {
    .nav-menu{
        display: none;
    }
    .navbar i{
        display: block;
    }
    .navbar{
        margin: auto 10px;
        padding-top: 15px;
    }

    .banner{
        flex-direction: column;
        margin: auto 10px;
    }
  
    .banner-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .change-your-habit{
        margin: auto;
    }

    .change-ur-habit-pic{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }

    .habit-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
    }

    .an-extra-mile{
        flex-direction: column;
        margin: auto 10px;
    }
    
    .an-extra-mile-pic img{
    width: 287px;
    height: 170px;
    border-radius: 18px;
    }
    .extra-mile-btn{
    display: flex;
    justify-content: center;
    }
    .extra-mile-btn button{
        padding: 1rem 6rem;
    }

    .meet-our-team{
        margin: auto 10px;
    }
    .meet-our-team-container{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        margin: auto 10px;
    }

    .trainer{
        top: 150px;
        right: 150px;
    }
    .footer-section{
        margin: auto 0;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
    }
    .footer-list-1 , .footer-list-2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        
    }

    .footer-bold{
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 700;
        text-align: left;
        margin-bottom: 10px;
    }

    hr{
        margin: auto 5px;
    }

    
}