/* Font family -Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family- miama */
@import url('https://fonts.cdnfonts.com/css/miama');

                


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgb(34, 34, 34) 100%);
}

/* shared styles */

.btn-primary{
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-weight: 600;
}
.text-small{
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
}

/* navbar styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 180px;
    padding-top: 20px;
}

.nav-title{
    color: rgb(230, 83, 60);
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
}



.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;


}
.nav-menu li{
    list-style: none;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: .8rem;
}

.navbar i{
    display: none;
}

/* Banner section designs */

.banner{
    display: flex;
    margin: auto 180px;
    justify-content: space-between;
    align-items: center;
}


.banner-description h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    /* width: 500px; */
    margin-bottom: 20px;
}

.miama{
    font-family: 'Miama', sans-serif;  
    font-size: 4rem;
    font-weight: 900;
    text-align: left; 

}

.banner-description p{
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}

.btn-secondary{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    background: rgba(0, 0, 0, 0.826);
    color: rgb(255, 255, 255);
    font-size: .8rem;
    font-weight: 600;

}
.banner-image{
    position: relative;
}

.banner-image img{
    width: 80%;
    
}

.video , .free {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 15px 25px;
    text-align: left;
}

.jambo{
    color: rgb(250, 250, 249);
    font-size: 1.2rem;
    font-weight: 900;
}

.video{
    position: absolute;
    top: 320px;
    left: -40px;
}
.free{
   position: absolute;
   top: 100px;
   left: 180px;
}



/* Responsive designs */

@media screen and (max-width:576px) {
    .nav-menu{
        display: none;
    }
    .navbar i{
        display: block;
    }
    .navbar{
        margin: auto 10px;
        padding-top: 15px;
    }

    .banner{
        flex-direction: column;
        margin: auto 10px;
    }
  
    .banner-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }




}